{% extends "base.html" %}

{% block content %}
    <h1 align='center'>Sign In</h1>
    <div align='center'>
    <form  action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
		<div style="width: 35%">
            {{ form.username(size=32) }}
		</div>
	    {% for error in form.username.errors %}
            <span style=max-width:10px;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}
		<div style="width: 35%">
            {{ form.password(size=32) }}
		</div>
	    {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
    </div>
{% endblock %}
