{% extends "base.html" %}

{% block content %}
    <h1 align="center">Register</h1>
    <div align="center">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
		<div style="width: 35%">
            {{ form.username(size=32) }}
		</div>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}
		<div style="width: 35%">
            {{ form.email(size=64) }}
		</div>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}
		<div style="width: 35%">
            {{ form.password(size=32) }}
		</div>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}
		<div style="width: 35%">
            {{ form.password2(size=32) }}
		</div>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    </div>
{% endblock %}
