{% extends "intronbase.html" %}

{% block content %}


<div class="col-sm-9">

<script  type="text/javascript">
function timeReload(timeoutPeriod){
    setTimeout("location.reload(true);",timeoutPeriod);
}
</script>

<script  type="text/javascript"   src="http://regsnps-splicing.ccbb.iupui.edu/source/code_package/js/sorttable.js"></script>
</head>
<body bgcolor="white" onload = "JavaScript:timeReload(2000);" >
<h3>
Your data has been successfully uploaded. </br> Please wait upto several minutes to finish prediction (About 2 seconds per SNV). </br></br> Or save the following <a href= "{{ url_for('spliceRes') }}?query_id={{query_id}}" > link </a> and retrieve your result later.
</h3>


</div>
{% endblock %}
